/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap'); 

/* //ANCHOR variables */

/* === VARIABLES === */
:root {

  /* COLORS */
  
  --clr-main-bg: #fdf6f6;
  --clr-primary: #000000;
  --clr-accent: #b72552;
  --clr-accent-alt: #810a2e;
  --clr-bg-light: #ffdede;
  --clr-black: #000;
  --clr-white: #ffffff;
  --clr-grey: #555555;
  --clr-placeholder: #979797;
  --clr-footer: #212121;
  --clr-body-text: #444444;
  --clr-close: rgb(202, 12, 12);
  --clr-close-alt: rgb(124, 12, 12);
  --clr-success-bg: rgb(210, 255, 210);
  --clr-success: rgb(12, 134, 12);
  --clr-error-bg: rgb(255, 200, 200);
  --clr-error: rgb(176, 28, 28);
  --clr-warning-bg: rgb(255, 242, 208);
  --clr-warning: rgb(208, 110, 5);
  --clr-border: #aeaeae;
  --clr-line: #e3e3e3;

  /* TYPOGRAPHY */

  /* font family */
  --ff-body: "DM Sans", sans-serif;
  --ff-title: "DM Serif Text", serif;

  /* font size */
  --fs-base: 62.5%;
  --fs-body-300: 1.2rem;
  --fs-body-400: 1.6rem;
  --fs-h1: 3.5rem;
  --fs-h2: 2.8rem;
  --fs-h3: 2.2rem;
  --fs-h4: 2rem;
  --fs-h5: 1.8rem;

  /* line height */
  --lh-body-400: 1.5em;

  /* CONTAINER */

  --container-400: 1170px;
  --side-space: 1.5rem;
  --section-block-space-400: 5rem;
  --gap-400: 3rem;
  --gap-500: 5rem;
  --inner-space-400: 2rem;
  --inner-space-500: 2.8rem;
  --inner-space-600: 3rem;
  --inner-space-700: 4rem;
  }

/* === RESET === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--clr-accent);
  transition: color .4s;
}

a:hover,
a:focus-visible {
  color: var(--clr-accent-alt);
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button{
  cursor: pointer;
  background-color: transparent;
}

input,
button,
textarea{
  font-family: inherit;
  border: none;
}

input {
  outline: none;
}

html {
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body{
  background-color: var(--clr-main-bg);
  color: var(--clr-body-text);
  font-size: var(--fs-body-400);
  line-height: var(--lh-body-400);
  font-weight: 400;
  font-family: var(--ff-body);
  overflow-x: hidden;
}

.swiper-wrapper,
.swiper-slide{
  height: unset !important;
}

strong,
b {
  font-weight: 700;
}

p {
  margin-bottom: .8em;
}

/* === REUSED STYLES === */
.container {
  width: 100%;
  max-width: calc(var(--container-400) + (var(--side-space)) * 2);
  margin: 0 auto;
  padding: 0 var(--side-space);
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.title{
  display: block;
  font-family: var(--ff-title);
  font-weight: 400;
  line-height: 1.3;
  color: var(--clr-black);
}

.title--h1 {
  font-size: var(--fs-h1);
}

.title--h2 {
  font-size: var(--fs-h2);
}

.title--h3 {
  font-size: var(--fs-h3);
}

.title--h4 {
  font-size: var(--fs-h4);
}

.title--h5 {
  font-size: var(--fs-h5);
}

.markers-list {
  margin-bottom: .8em;
  padding-left: 2.7rem;
  list-style-type: disc;
}

/* === COMPONENTS === */

/* BUTTONS */

.btn {
  display: inline-flex;
  justify-content: center;
  padding: 0 3rem;
  line-height: 4rem;
  font-size: var(--fs-body-300);
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid;
  transition: all .4s;
}

.btn i {
  margin-right: .5rem;
}

.btn.btn--primary {
  color: var(--clr-grey);
  border: 1px solid var(--clr-border);
}

.btn.btn--primary:hover,
.btn.btn--primary:focus-visible {
  background-color: var(--clr-accent);
  color: white;
  border-color: var(--clr-accent-alt);
}

.btn.btn--accent {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border: 1px solid var(--clr-accent-alt);
}

.btn.btn--accent:hover,
.btn.btn--accent:focus-visible {
  background-color: var(--clr-accent-alt);
}

/* FORMS */

.form__row {
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.form__label {
  display: block;
  margin-bottom: .8rem;
  font-weight: 600;
  font-size: var(--fs-body-300);
  line-height: 1.2;
  color: var(--clr-secondary);
  text-transform: capitalize;
}

.form__label--required::after {
  content: " *";
  color: var(--clr-close);
}

.form input:not([type="checkbox"], [type="radio"]) {
  padding: 0 1.4rem;
  height: 3rem;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.form input,
.form textarea {
  width: 100%;
  border: 1px solid var(--clr-border);
  transition: box-shadow .2s;
}

.form textarea {
  padding: 1.4rem;
  width: 100% !important;
  min-height: 12rem;
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--clr-placeholder);
}

.form input:not([type="checkbox"], [type="radio"]):focus,
.form textarea:focus {
  box-shadow: 1px 1px 1px var(--clr-black);
}

.form_error {
  margin-top: .5rem;
  font-size: var(--fs-body-300);
  line-height: 1.2;
  color: var(--clr-error);
}

.form__row--submit {
  margin-bottom: 0;
  margin-top: 2.4rem;
}

.form__row--buttons {
  display: grid;
  gap: 1rem;
}

/* custom checkbox & radio */
.form_checkbox__input,
.form_radio__input {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
  pointer-events: none;
}

.form_radio__input + label,
.form_checkbox__input + label { 
  user-select: none;
  cursor: pointer;
  line-height: 1.4;
  display: inline-flex;
  align-items: flex-start;
  font-size: 1.4rem;
}

.form_radio__input + label::before,
.form_checkbox__input + label::before { 
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--clr-white);
  border: 2px solid var(--clr-border);
  margin-right: .8rem;
  transition: background-color .2s, border-color .2s;
  flex-shrink: 0;
  position: relative;
  top: calc((1em * 1.4 - 1em) / 2);
}

.form_radio__input + label:hover::before,
.form_checkbox__input + label:hover::before {
  border-color: var(--clr-grey);
  transition: all .2s;
}

.form_radio__input:focus + label::before,
.form_checkbox__input:focus + label::before {
  border-color: var(--clr-accent);
  box-shadow: 0 0 0 .18em rgba(85, 85, 85, 20%);
}

.form_radio__input + label::before {
  border-radius: 50%; 
  background-size: .4em;
}

.form_radio__input:checked + label::before,
.form_checkbox__input:checked + label::before {
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
  background-repeat: no-repeat;
  background-position: center;
}

.form_radio__input:checked + label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.form_checkbox__input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
  background-size: .7em;
}

/* upload file drag & drop */
.form__upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--clr-bg-light);
  border: 2px dashed var(--clr-primary);
  position: relative;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.form__upload:hover {
  background-color: var(--clr-white);
}

.form__upload:focus,
.form__upload:focus-within {
  border-color: var(--clr-accent);
}

.form__upload__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.form__upload__text i {
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
  color: var(--clr-accent);
}

.form__upload__file-name {
  margin-top: 1rem;
  cursor: pointer;
}

.form__upload__input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* ALERTS */
.alert {
  position: fixed;
  padding: 2.5rem 3.5rem 2.5rem 1.5rem;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(100%);
  transition: transform .3s;
}

.alert.active {
  transform: translateY(0);
}

.alert.alert--success {
  background-color: var(--clr-success-bg);
  color: var(--clr-success);
}

.alert.alert--error {
  background-color: var(--clr-error-bg);
  color: var(--clr-error);
}

.alert__message {
  margin: 0;
}

.alert__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--clr-close);
  z-index: 1;
  transition: color .3s;
}

.alert__close:hover,
.alert__close:focus-visible {
  color: var(--clr-close-alt);
}

/* ARTICLE CARD */
.article-card__image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.article-card__image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease-in-out;
}

.article-card__image-wrapper:hover img,
.article-card__image-wrapper:focus-visible img {
  transform: scale(1.05);
}

.article-card__content {
  position: relative;
  margin-top: calc(var(--inner-space-600) * 2 * -1);
  margin-left: var(--inner-space-600);
  padding: var(--inner-space-600);
  background-color: var(--clr-white);
}

.article-card__content__author {
  display: inline-flex;
  align-items: center;
  margin-top: 1.8rem;
  color: var(--clr-primary);
  font-size: var(--fs-body-300);
  transition: color .4s;
}

.article-card__content__author img {
  margin-right: 1.2em;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.article-card__content__author:hover,
.article-card__content__author:focus-visible {
  color: var(--clr-accent);
}

.article-card__content__info {
  display: flex;
  align-items: center;
  letter-spacing: .15em;
  line-height: 1;
}

.article-card__content__info::before {
  content: "";
  margin: 0 .95em;
  width: .1em;
  height: .8em;
  background-color: var(--clr-border);
}

.article-card__content__info__category {
  order: -1;
  color: var(--clr-accent);
}

.article-card__content__info__category:hover,
.article-card__content__info__category:focus-visible {
  color: var(--clr-accent-alt);
}

.article-card__content__info__category,
.article-card__content__info__date {
  text-transform: uppercase;
  font-size: var(--fs-body-300);
  font-weight: 500;
}

.article-card__content__title {
  margin-top: var(--inner-space-400);
}

.article-card__content__title a:hover,
.article-card__content__title a:focus-visible {
  color: var(--clr-accent);
}

/* SLIDER CONTROLS */
.slider__controls__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  cursor: pointer;
}

/* PAGINATION */
.pagination {
  margin-top: 4rem;
}

.pagination__list {
  margin: -.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list li {
  margin: .5rem;
}

.pagination__list li a {
  display: flex;
  padding: 0 1rem;
  line-height: 3rem;
  border: 1px solid var(--clr-border);
  transition: background-color .3s, color .3s;
}

.pagination__list li a:hover,
.pagination__list li a:focus-visible,
.pagination__list li a.active {
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
  color: var(--clr-white);
}

/* COMMENTS */
.comments {
  padding-bottom: var(--section-block-space-400);
}

.comments__counter {
  margin-bottom: 2rem;
  padding: 2rem 0;
  font-weight: 600;
  border-bottom: 1px solid var(--clr-primary);
}

.comments__login-message {
  padding: 2rem var(--side-space);
  background-color: var(--clr-warning-bg);
  color: var(--clr-warning);
  text-align: center;
}

.comments__form .form__row--submit {
  margin-top: 0;
}

.comments__wrapper {
  margin-top: 3rem;
}

.comments__item {
  padding: var(--inner-space-400);
  background-color: var(--clr-bg-light);
}

.comments__item + .comments__item {
  margin-top: var(--inner-space-400);
}

.comments__item__info {
  display: flex;
  align-items: center;
}

.comments__item__info__author-avatar {
  margin-right: 1rem;
  flex: 0 0 4rem;
}

.comments__item__info__author-avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.comments__item__info__content {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.comments__item__info__date {
  font-size: var(--fs-body-300);
  color: var(--clr-grey);
}

.comments__item__content {
  margin-top: 2rem;
}

/* === HEADER === */
.header {
  padding: 2rem 0;
}

.header .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__socials {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.header__socials a {
  color: var(--clr-black);
}

.header__socials a:hover,
.header__socials a:focus-visible {
  color: var(--clr-accent);
}

.header__logo {
  margin: 1.8rem 0 2.4rem;
  max-width: 170px;
}

.header__search .form__field {
  display: flex;
  position: relative;
}

.header__search input.header__search__input {
  padding-right: 4.5rem;
}

.header__search .form__submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  padding: 0 1rem;
  font-size: 1.4rem;
  transition: background-color .4s;
}

.header__search .form__submit:hover,
.header__search .form__submit:focus-visible {
  background-color: var(--clr-accent-alt);
}

/* === NAVIGATION BAR === */
.nav {
  padding: 1rem 0;
  width: 100%;
  border-top: 1px solid var(--clr-line);
  border-bottom: 1px solid var(--clr-line);
  background-color: var(--clr-main-bg);
  z-index: 10;
}

.nav .row {
  position: relative;
}

.nav.nav--fixed {
  position: fixed;
  left: 0;
  top: 0;
  animation: fixed-nav .4s linear;
}

@keyframes fixed-nav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.nav__toggle {
  margin-left: auto;
  display: block;
  font-size: 2rem;
  transition: color .4s;
}

.nav__toggle:hover,
.nav__toggle:focus-visible {
  color: var(--clr-accent);
}

.nav__list {
  margin-top: 1.6rem;
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.nav__list li + li {
  margin-top: 1rem;
}

.nav__list.active {
  position: static;
  height: unset;
  width: auto;
  opacity: 1;
}

.nav__list .nav__list__link {
  display: inline-block;
  position: relative;
  font-size: var(--fs-body-300);
  line-height: 1.9;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: var(--clr-black);
}

.nav__list .nav__list__link::before {
  content: "";
  width: calc(100% - .2em);
  height: 1px;
  position: absolute;
  transform: scaleX(0);
  left: 0;
  bottom: 0;
  background-color: var(--clr-accent);
  transition: transform .3s;
}

.nav__list .nav__list__link:hover::before,
.nav__list .nav__list__link.active::before {
  transform: scaleX(100%);
}

.nav__list .nav__list__link:hover,
.nav__list .nav__list__link:focus-visible,
.nav__list .nav__list__link.active {
  color: var(--clr-accent);
}

.nav__profile {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.nav__profile__button {
  display: flex;
  align-items: center;
  transition: color .2s;
}

.nav__profile__button:hover,
.nav__profile__button:focus-visible,
.nav__profile__button.active {
  color: var(--clr-accent);
}

.nav__profile__button__avatar {
  margin-right: .4em;
  width: 2em;
  height: 2em;
  font-size: 1.4rem;
  object-fit: cover;
  border-radius: 50%;
}

.nav__profile__button__arrow {
  transition: transform .3s;
}

.nav__profile__button.active .nav__profile__button__arrow {
  transform: rotate(180deg);
}

.nav__profile__menu {
  padding: 1.6rem;
  position: absolute;
  left: 0;
  top: calc(100% + .5rem);
  width: max-content;
  min-width: 100%;
  background-color: var(--clr-white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 6%);
  z-index: 2;
  display: none;
}

.nav__profile__menu.active {
  display: block;
}

.nav__profile__menu__greeting {
  margin-bottom: .8rem;
  padding-bottom: .8rem;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--clr-border);
}

.nav__profile__menu__list {
  display: grid;
  row-gap: .4rem;
}

.nav__profile__menu__list a {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--clr-body-text);
}

.nav__profile__menu__list a:hover,
.nav__profile__menu__list a:focus-visible {
  color: var(--clr-accent);
}

.nav__profile__menu__list a i {
  margin-right: .4em;
  font-size: 1.2em;
  color: var(--clr-accent);
  transition: transform .1s linear;
}

.nav__profile__menu__list a:hover i,
.nav__profile__menu__list a:focus-visible i {
  transform: scale(1.2);
}

/* === LOGIN & SIGNUP === */
.authentication {
  padding: var(--section-block-space-400) 0;
}

.authentication__form {
  margin: 0 auto;
  padding: 3rem var(--side-space);
  max-width: 400px;
  background-color: var(--clr-bg-light);
}

.authentication__form__logo {
  display: block;
  margin: 0 auto 2rem;
  max-width: 70px;
}

.authentication__form .form__submit-btn {
  width: 100%;
}

.authentication__form__question {
  margin-top: 2rem;
  text-align: center;
}

/* === BLOG === */
.blog {
 padding: var(--section-block-space-400) 0; 
}

.blog__title {
  margin-bottom: 1.6em;
  text-align: center;
  text-transform: capitalize;
}

.blog__row {
  display: grid;
  row-gap: var(--gap-500);
  column-gap: var(--gap-500);
}

/* === SINGLE ARTICLE PAGE === */
.article {
  padding-bottom: var(--section-block-space-400);
}

.article__hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: var(--side-space);
  padding-right: var(--side-space);
  min-height: 32rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article__hero__content {
  padding: var(--inner-space-600);
  padding-bottom: 0;
  max-width: 68rem;
  text-align: center;
  background-color: var(--clr-main-bg);
}

.article__hero__content__info {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .15em;
  line-height: 1;
}

.article__hero__content__info::before {
  content: "";
  margin: 0 .95em;
  width: .1em;
  height: .8em;
  background-color: var(--clr-border);
}

.article__hero__content__info__category {
  order: -1;
  color: var(--clr-accent);
}

.article__hero__content__info__category:hover,
.article__hero__content__info__category:focus-visible {
  color: var(--clr-accent-alt);
}

.article__hero__content__info__category,
.article__hero__content__info__date {
  text-transform: uppercase;
  font-size: var(--fs-body-300);
  font-weight: 500;
}

.article__hero__content__title {
  margin-top: var(--inner-space-400);
}

.article__hero__content__author {
  display: inline-flex;
  align-items: center;
  margin-top: 1.8rem;
  color: var(--clr-primary);
  transition: color .4s;
}

.article__hero__content__author img {
  margin-right: 1em;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.article__hero__content__author:hover,
.article__hero__content__author:focus-visible {
  color: var(--clr-accent);
}

.article__hero__content__visits {
  margin-top: .8rem;
  font-size: var(--fs-body-300);
  text-transform: uppercase;
  font-weight: 500;
}

.article__footer__tags {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  font-size: var(--fs-body-300);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .12em;
}

.article__footer_socials {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 1.5rem;
}

.article__footer_socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #e7e7e7;
  font-size: 1.2rem;
  color: var(--clr-black);
  transition: background-color .4s;
}

.article__footer_socials a:hover,
.article__footer_socials a:focus-visible {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

/* ARTICLE BODY */
.article__body {
  padding: var(--section-block-space-400) 0 var(--section-block-space-400);
}

.article__body__row + .article__body__row {
  padding-top: var(--inner-space-600);
}

.article__body__row--text > p:last-child {
  margin-bottom: 0;
}

.article__body__row--text-bar > * {
  padding: var(--inner-space-400);
  font-weight: 500;
  background-color: var(--clr-bg-light);
}

.article__body__row--double-images {
  display: grid;
  gap: var(--inner-space-400);
}

.article__body__row--double-images img {
  object-fit: cover;
}

/* === HOME PAGE === */

/* HOME SLIDER */
.home-slider__slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-slider__slide__content {
  margin-top: 15rem;
  margin-left: var(--inner-space-700);
  padding: var(--inner-space-700) var(--inner-space-700) 0 var(--inner-space-700);
  max-width: 47rem;
  background-color: var(--clr-main-bg);
}

.home-slider__slide__content__info {
  display: flex;
  align-items: center;
  letter-spacing: .15em;
  line-height: 1;
}

.home-slider__slide__content__info::before {
  content: "";
  margin: 0 .95em;
  width: .1em;
  height: .8em;
  background-color: var(--clr-border);
}

.home-slider__slide__content__info__category {
  order: -1;
  color: var(--clr-accent);
}

.home-slider__slide__content__info__category:hover,
.home-slider__slide__content__info__category:focus-visible {
  color: var(--clr-accent-alt);
}

.home-slider__slide__content__info__category,
.home-slider__slide__content__info__date {
  text-transform: uppercase;
  font-size: var(--fs-body-300);
  font-weight: 500;
}

.home-slider__slide__content__title {
  margin-top: 2rem;
}

.home-slider__slide__content .btn {
  margin-top: 3rem;
}

.home-slider__container__controls {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  z-index: 2;
}

.home-slider__container__controls > * {
  background-color: black;
  color: var(--clr-white);
  transition: background-color .3s;
}

.home-slider__container__controls .slider__controls__button:hover, 
.home-slider__container__controls .slider__controls__button:focus-visible {
  background-color: var(--clr-accent-alt);
}

.home-slider__container__counter  {
  display: none;
}

/* FEATURED ARTICLES */
.featured {
  padding: var(--section-block-space-400) 0;
  background-color: var(--clr-bg-light);
}

.featured__title {
  margin-bottom: 2rem;
}

.featured__image {
  display: none;
}

.featured__articles {
  display: grid;
  row-gap: var(--gap-400);
}

.featured__articles__item {
  display: grid;
  row-gap: 2rem;
}

.featured__articles__item__image img{
  width: 100%;
}

.featured__articles__item__content__info {
  display: flex;
  align-items: center;
  letter-spacing: .15em;
  line-height: 1;
}

.featured__articles__item__content__info::before {
  content: "";
  margin: 0 .95em;
  width: .1em;
  height: .8em;
  background-color: var(--clr-border);
}

.featured__articles__item__content__info__category {
  order: -1;
  color: var(--clr-accent);
}

.featured__articles__item__content__info__category:hover,
.featured__articles__item__content__info__category:focus-visible {
  color: var(--clr-accent-alt);
}

.featured__articles__item__content__info__category,
.featured__articles__item__content__info__date {
  text-transform: uppercase;
  font-size: var(--fs-body-300);
  font-weight: 500;
}

.featured__articles__item__content__title {
  margin-top: 1.2rem;
}

/* DAILY FEATURED ARTICLE */
.daily-featured {
  padding: var(--section-block-space-400) 0;
}

.daily-featured__article__image {
  overflow: hidden;
}

.daily-featured__article__image img {
  transition: transform .4s ease-out;
}

.daily-featured__article__image:hover img,
.daily-featured__article__image:focus-visible img {
  transform: scale(1.1)
}

.daily-featured__article {
  display: grid;
  justify-items: center;
}

.daily-featured__article__content {
  position: relative;
  display: grid;
  justify-items: center;
  padding: var(--inner-space-600);
  margin-top: calc(var(--gap-400) * -1);
  margin-left: var(--side-space);
  margin-right: var(--side-space);
  max-width: 67rem;
  background-color: var(--clr-white);
}

.daily-featured__article__content__info {
  display: flex;
  align-items: center;
  letter-spacing: .15em;
  line-height: 1;
}

.daily-featured__article__content__info::before {
  content: "";
  margin: 0 .95em;
  width: .1em;
  height: .8em;
  background-color: var(--clr-border);
}

.daily-featured__article__content__info__category {
  order: -1;
  color: var(--clr-accent);
}

.daily-featured__article__content__info__category:hover,
.daily-featured__article__content__info__category:focus-visible {
  color: var(--clr-accent-alt);
}

.daily-featured__article__content__info__category,
.daily-featured__article__content__info__date {
  text-transform: uppercase;
  font-size: var(--fs-body-300);
  font-weight: 500;
}

.daily-featured__article__content__title {
  margin-top: 2rem;
  text-align: center;
}

/* HOME CAROUSEL */
.home-carousel {
  padding: var(--section-block-space-400) 0;
  background-color: var(--clr-bg-light);
}

.home-carousel__slide__image img {
  width: 100%;
  height: 40rem;
}

.home-carousel__slide__content {
  padding-top: var(--gap-400);
  text-align: center;
}

.home-carousel__slide__content__category {
  letter-spacing: .15em;
  line-height: 1;
  text-transform: uppercase;
  font-size: var(--fs-body-300);
  font-weight: 500;
  color: var(--clr-accent-alt);
}

.home-carousel__slide__content__category:hover,
.home-carousel__slide__content__category:focus-visible {
  color: var(--clr-accent-alt);
}

.home-carousel__slide__content__title {
  margin: 2rem 0;
}

.home-carousel__container__controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.home-carousel__container__controls .slider__controls__button {
  background-color: white;
  color: var(--clr-primary);
  transition: background-color .3s, color .3s;
}

.home-carousel__container__controls .slider__controls__button:hover,
.home-carousel__container__controls .slider__controls__button:focus-visible {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

/* POPULAR ARTICLES */
.popular {
  padding: var(--section-block-space-400) 0;
}

.popular__title {
  margin-bottom: var(--inner-space-600);
  text-align: center;
}

/* === PROFILE PAGE === */
.profile {
  padding: var(--section-block-space-400) 0;
}

.profile .row,
.profile__side-col {
  display: grid;
  align-items: start;
  gap: var(--gap-400);
}

.profile__avatar-box {
  padding: var(--inner-space-500) var(--inner-space-400);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-bg-light);
}

.profile__picture-btn {
  margin-bottom: 1.6rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  transition: transform .4s;
}

.profile__picture-btn:hover,
.profile__picture-btn:focus-visible {
  transform: scale(1.08);
}

.profile__picture-btn__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__account-type {
  margin-top: 1.4rem;
  padding: 0 2rem;
  line-height: 3rem;
  background-color: var(--clr-primary);
  color: white;
}

.profile__account-type--admin {
  background-color: rgb(4, 151, 17);
}

.profile__social-box__list {
  margin-top: 1.2rem;
  display: grid;
  gap: 1.2rem;
}

.profile__social-box__list li a {
  display: flex;
  align-items: center;
}

.profile__social-box__list li a i {
  margin-right: .8rem;
  font-size: 2.2rem;
}

.instagram-icon {
  color: #DD2A7B;
}

.facebook-icon {
  color: #3B5998;
}

.twitter-icon {
  color: #08a0e9;
}

.profile__main-col,
.profile__social-box {
  padding: var(--inner-space-500) var(--inner-space-400);
  border: 1px solid var(--clr-line);
}

.profile__info {
  margin-top: 1.6rem;
  display: grid;
  row-gap: 1.4rem;
}

.profile__info__item__title {
  margin-bottom: .7rem;
}

.profile__articles {
  margin-top: 1.6rem;
}

.profile__articles__title {
  margin-bottom: 1rem;
}

.profile__articles__item + .profile__articles__item {
  margin-top: 1.2rem;
}

.picture-enlarge {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--side-space);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 80%);
  z-index: 10;
}

.picture-enlarge.active {
  display: flex;
}

.picture-enlarge__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--clr-main-bg);
  color: var(--clr-accent);
  z-index: 2;
  transition: background-color .3s, color .3s;
}

.picture-enlarge__close:hover,
.picture-enlarge__close:focus-visible {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}

.picture-enlarge__image {
  max-height: 100%;
}

/* === PROFILE SETTINGS === */
.profile-settings {
  padding: var(--section-block-space-400) 0;
}

.profile-settings__form__title {
  margin-bottom: 2rem;
}

.profile-settings__form {
  display: grid;
  gap: var(--gap-400);
}

.profile-settings__form__avatar-preview {
  margin-top: 1.6rem;
}

.profile-settings__form__avatar-preview span {
  margin-bottom: 1rem;
  display: block;
  font-weight: 600;
  color: var(--clr-primary);
}


/* === FOOTER & BOTTOM GALLERY === */
.bottom-gallery {
  position: relative;
  z-index: 1;
}

.footer {
  padding-top: 14rem;
  padding-bottom: var(--section-block-space-400);
  margin-top: -8rem;
  background-color: var(--clr-footer);
  color: var(--clr-white);
  text-align: center;
}

.footer__socials {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.footer__socials li {
  margin: 0 .5rem;
}

.footer__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #2e2e2e;
  font-size: 1.2rem;
  color: var(--clr-white);
  transition: background-color .4s;
}

.footer__socials a:hover,
.footer__socials a:focus-visible {
  background-color: var(--clr-white);
  color: var(--clr-accent);
}

.footer__copy {
  font-size: 1.4rem;
}

/* === ERROR PAGE === */
.error-page .row {
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 2rem;
  min-height: 100vh;
}

.error-page__image {
  max-width: 600px;
}

/* //ANCHOR BREAKPOINTS */

/* === BREAKPOINTS === */

/* //ANCHOR 768px */
/* 768px */

@media screen and (min-width: 768px) {
  /* === VARIABLES === */
  :root {

  /* CONTAINER */

  --side-space: 3rem;
  }

  /* === COMPONENTS === */

  /* FORMS */
  .form__row--buttons {
    grid-auto-flow: column;
    justify-content: start;
  }

  /* === HEADER === */
  .header {
    --logo-width: 170px;

    padding: 3rem 0;
  }

  .header .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
    max-width: unset;
    flex: 0 0 var(--logo-width);
  }

  .header__socials,
  .header__search {
    flex-basis: calc((100% - var(--logo-width)) / 2);
  }

  .header__socials {
    justify-content: flex-start;
  }

  .header__search {
    display: flex;
    justify-content: flex-end;
  }

  /* === BLOG === */
  .blog__row.blog__row--horizontal-view {
    grid-template-columns: unset;
  }
  
  .blog__row.blog__row--horizontal-view .article-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: var(--gap-500);
  }
  
  .blog__row.blog__row--horizontal-view .article-card:nth-child(even) .article-card__content {
    order: -1;
  }
  
  .blog__row.blog__row--horizontal-view .article-card .article-card__content {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  /* === HOME PAGE === */

  /* HOME SLIDER */
  .home-slider__slide {
    min-height: 45rem;
  }

  /* === FOOTER & BOTTOM GALLERY === */
  .footer__socials li {
    margin: 0 1rem;
  }

  .footer__socials a {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 1.6rem;
  }
}


/* //ANCHOR 992px */
/* 992px */

@media screen and (min-width: 992px) {
  /* === VARIABLES === */
  :root {

    /* CONTAINER */
    --section-block-space-400: 8rem;
  }

  /* === COMPONENTS === */

  /* BUTTONS */
  .btn {
    line-height: 5rem;
    padding: 0 5rem;
  }

  /* FORMS */
  .form__row {
    margin-bottom: 1.4rem;
    grid-auto-flow: column;
    gap: 1.4rem;
  }

  .form input:not([type="checkbox"], [type="radio"]) {
    height: 4rem;
  }

  /* ALERTS */
  .alert {
    padding: 2.5rem 3.5rem 2.5rem 2.5rem;
    max-width: 400px;
    right: 5rem;
  }

  /* SLIDER CONTROLS */
  .slider__controls__button {
    width: 10rem;
    height: 10rem;
    font-size: 2.5rem;
  }

  /* PAGINATION */
  .pagination {
    margin-top: 8rem;
  }

  .pagination__list li a {
    padding: 0 1.4rem;
    line-height: 4rem;
  }

  /* COMMENTS */
  .comments__counter {
    margin-bottom: 4rem;
    font-size: 1.8rem;
  }

  .comments__wrapper {
    margin-top: 5rem;
  }

  /* === NAVIGATION BAR === */
  .nav {
    padding: 3rem 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    margin-top: 0;
    position: static;
    height: unset;
    width: auto;
    opacity: 1;
  }

  .nav__list li + li {
    margin-top: 0;
  }

  .nav__profile {
    left: unset;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav__profile__button__arrow {
    font-size: 1.7rem;
  }

  .nav__profile__button__avatar {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .nav__profile__menu {
    left: unset;
    right: 0;
  }

  /* === LOGIN & SIGNUP === */
  .authentication__form {
    padding: 5rem;
  }

  .authentication__form__logo {
    margin: 0 auto 3rem;
    max-width: 90px;
  }

  /* === BLOG === */
  .blog__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__row .article-card__image-wrapper {
    height: 500px;
  }

  /* === SINGLE ARTICLE PAGE === */

  /* ARTICLE BODY */
  
  .article__body__row--text-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--inner-space-400);
  }
  
  .article__body__row--text-right > * {
    grid-column-start: 2;
  }

  .article__body__row--double-images {
    grid-template-columns: repeat(2, 1fr);
  }

  .article__body__row--double-images img {
    width: 100%;
    height: 100%;
  }

  /* === HOME PAGE === */

  /* HOME SLIDER */
  .home-slider__slide {
    min-height: 70rem;
  }

  .home-slider__slide__content {
    max-width: 65rem;
    z-index: 2;
    position: relative;
  }

  .home-slider__container__controls {
    flex-direction: column;
  }

  .home-slider__slide__content__title {
    margin-top: 4rem;
  }

  .home-slider__slide__content .btn {
    margin-top: 5rem;
  }

  .home-slider__container__counter {
    position: absolute;
    top: 20rem;
    right: 0;
    bottom: 0;
    display: block;
    padding-top: 5rem;
    width: 10rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--ff-title);
    background-color: var(--clr-white);
    color: var(--clr-body-text);
    z-index: 1;
  }

  .home-slider__container__counter span {
    font-size: 200%;
  }

  /* FEATURED ARTICLES */
  .featured__title {
    margin-bottom: 4rem;
  }

  .featured__image {
    display: block;
    height: 100%;
  }

  .featured__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap-400);
  }

  .featured__articles__item {
    grid-template-columns: 35% auto;
    align-items: center;
    column-gap: var(--gap-400);
  }

  .featured__articles__item__image,
  .featured__articles__item__image img {
    height: 100%;
    max-height: 15rem;
  }

  /* DAILY FEATURED ARTICLE */
  .daily-featured__article__image img {
    width: 100%;
    min-height: 50rem;
    max-height: 65rem;
  }

  .daily-featured__article__content {
    margin-top: -11rem;
  }

  /* HOME CAROUSEL */
  .home-carousel__slide__container {
    display: grid;
    column-gap: var(--gap-400);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home-carousel__slide__image img {
    height: 50rem;
  }

  .home-carousel__slide__content {
    order: -1;
  }

  /* POPULAR ARTICLES */
  .popular__title {
    font-size: 4rem;
  }

  /* === PROFILE PAGE === */
  .profile .row {
    grid-template-columns: 30% auto;
  }

  /* === PROFILE SETTINGS === */
  .profile-settings__form {
    grid-template-columns: 28rem auto;
  }
 }


/* //ANCHOR 1200px */
/* 1200px */

@media screen and (min-width: 1200px) {
  /* === VARIABLES === */
  :root {

    /* TYPOGRAPHY */

    /* font size */
    --fs-h1: 4.8rem;
    --fs-h2: 4rem;
    --fs-h3: 3.6rem;
    --fs-h4: 2.4rem;
    --fs-h5: 2rem;

    /* CONTAINER */
    --section-block-space-400: 10rem;
    --gap-500: 7rem;
    --inner-space-400: 3rem;
    --inner-space-500: 4rem;
    --inner-space-600: 6rem;
    --inner-space-700: 7rem;
  }

  /* === COMPONENTS === */

  /* COMMENTS */
  .comments {
    padding-bottom: 15rem;
  }

  /* === HEADER === */
  .header {
    --logo-width: 325px;

    padding: 4rem 0;
  }

  .header__search input.header__search__input {
    width: 260px;
  }

  /* === SINGLE ARTICLE PAGE === */
  .article {
    padding-bottom: 8rem;
  }

  .article__hero {
    min-height: 50rem;
  }

  .article__body {
    padding: 15rem 0 var(--section-block-space-400);
  }

  .article__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .article__footer__tags {
    margin-bottom: 0;
  }

  .article__footer_socials {
    justify-self: flex-end;
  }

  .article__footer_socials a {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 1.6rem;
  }

  /* === HOME PAGE === */

  /* FEATURED ARTICLES */
  .featured__row {
    grid-template-columns: 7fr 5fr;
  }

  .featured__articles__item {
    grid-template-columns: 40% auto;
  }

  .featured__articles__item__image, .featured__articles__item__image img {
    max-height: unset;
  }

  /* DAILY FEATURED ARTICLE */
  .daily-featured {
    padding: 15rem 0;
  }

  /* HOME CAROUSEL */
  .home-carousel__container {
    margin-bottom: -20rem;
  }

  .home-carousel__slide__container {
    align-items: start;
  }

  .home-carousel__slide__image img {
    height: 70rem;
  }

  .home-carousel__slide__content {
    padding-top: 10rem;
    padding-left: var(--inner-space-500);
    padding-right: var(--inner-space-500);
  }

  .home-carousel__slide__content__title {
    margin: 3rem 0;
  }

  .home-carousel__container__controls {
    right: calc(50% - (var(--gap-400) / 2) - 10rem);
    left: 0;
    top: unset;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--clr-main-bg);
  }

  /* POPULAR ARTICLES */
  .popular {
    padding: 20rem 0 12rem;
  }

  .popular__title {
    font-size: 6rem;
  }

  .popular__row {
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--gap-400);
    column-gap: var(--gap-400);
  }

  .popular__row .article-card:first-child {
    grid-column: span 2;
  }

  .popular__row .article-card__content {
    margin-top: calc(var(--inner-space-500)* 2 * -1);
    margin-left: var(--inner-space-400);
    padding: var(--inner-space-400);
  }

  .popular__row .article-card__content__title {
    margin-top: 2rem;
  }

  .popular__row .article-card__content__title .title {
    font-size: var(--fs-h4);
  }

  .popular__row .article-card__image-wrapper {
    height: 37rem;
  }

  /* === FOOTER & BOTTOM GALLERY === */
  .footer {
    padding-top: 22rem;
    margin-top: -15rem;
  }
}