/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');

/* === VARIABLES === */
:root {

  /* COLORS */
  
  --clr-primary: #000000;
  --clr-accent: #4930a5;
  --clr-accent-alt: #281669;
  --clr-bg-light: #f8f8f8;
  --clr-black: #000;
  --clr-white: #ffffff;
  --clr-grey: #555555;
  --clr-placeholder: #979797;
  --clr-footer: #212121;
  --clr-body-text: #444444;
  --clr-error: rgb(176, 28, 28);
  --clr-close: rgb(202, 12, 12);
  --clr-close-alt: rgb(124, 12, 12);
  --clr-success-bg: rgb(210, 255, 210);
  --clr-success: rgb(12, 134, 12);
  --clr-border: #cccccc;
  --clr-line: #eeeeee;

  /* TYPOGRAPHY */

  /* font family */
  --ff-body: "DM Sans", sans-serif;
  --ff-title: "DM Serif Text", serif;

  /* font size */
  --fs-base: 62.5%;
  --fs-body-300: 1.2rem;
  --fs-body-400: 1.6rem;
  --fs-h1: 4.8rem;
  --fs-h2: 4rem;
  --fs-h3: 3.6rem;
  --fs-h4: 2.4rem;
  --fs-h5: 2rem;

  /* line height */
  --lh-body-400: 1.5em;

  /* CONTAINER */

  --container-400: 1170px;
  --side-space: 1.5rem;
  --section-block-space-400: 10rem;
}

/* === RESET === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--clr-accent);
  transition: color .4s;
}

a:hover,
a:focus-visible {
  color: var(--clr-accent-alt);
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button{
  cursor: pointer;
  background-color: transparent;
}

input,
button,
textarea{
  font-family: inherit;
  border: none;
}

input {
  outline: none;
}

html {
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body{
  background-color: var(--clr-white);
  color: var(--clr-body-text);
  font-size: var(--fs-body-400);
  line-height: var(--lh-body-400);
  font-weight: 400;
  font-family: var(--ff-body);
  overflow-x: hidden;
}

.swiper-wrapper,
.swiper-slide{
  height: unset !important;
}

strong,
b {
  font-weight: 700;
}

/* === REUSED STYLES === */
.container {
  width: 100%;
  max-width: calc(var(--container-400) + (var(--side-space)) * 2);
  margin: 0 auto;
  padding: 0 var(--side-space);
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* === COMPONENTS === */

/* BUTTONS */

.btn {
  padding: 0 3rem;
  line-height: 4rem;
  font-size: var(--fs-body-300);
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid;
  transition: all .4s;
}

.btn.btn--primary {
  color: var(--clr-grey);
  border: 1px solid var(--clr-border);
}

.btn.btn--primary:hover,
.btn.btn--primary:focus-visible {
  background-color: var(--clr-accent);
  color: white;
  border-color: var(--clr-accent-alt);
}

.btn.btn--accent {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border: 1px solid var(--clr-accent-alt);
}

.btn.btn--accent:hover,
.btn.btn--accent:focus-visible {
  background-color: var(--clr-accent-alt);
}

/* FORMS */

.form__row {
  margin-bottom: 1rem;
}

.form input:not([type="checkbox"], [type="radio"]) {
  padding: 0 1.4rem;
  width: 100%;
  height: 3rem;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-white);
}

.form input,
.form textarea {
  border: 1px solid var(--clr-border);
  transition: box-shadow .2s;
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--clr-placeholder);
}

.form input:not([type="checkbox"], [type="radio"]):focus,
.form textarea:focus {
  box-shadow: 1px 1px 1px var(--clr-black);
}

.form_error {
  margin-top: .5rem;
  font-size: var(--fs-body-300);
  line-height: 1.2;
  color: var(--clr-error);
}

/* custom checkbox & radio */
.form_checkbox__input,
.form_radio__input {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.form_radio__input + label,
.form_checkbox__input + label { 
  user-select: none;
  cursor: pointer;
  line-height: 1.4;
  display: inline-flex;
  align-items: flex-start;
  font-size: 1.4rem;
}

.form_radio__input + label::before,
.form_checkbox__input + label::before { 
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--clr-white);
  border: 2px solid var(--clr-border);
  margin-right: .8rem;
  transition: background-color .2s, border-color .2s;
  flex-shrink: 0;
  position: relative;
  top: calc((1em * 1.4 - 1em) / 2);
}

.form_radio__input + label:hover::before,
.form_checkbox__input + label:hover::before {
  border-color: var(--clr-grey);
  transition: all .2s;
}

.form_radio__input:focus + label::before,
.form_checkbox__input:focus + label::before {
  border-color: var(--clr-accent);
  box-shadow: 0 0 0 .18em rgba(85, 85, 85, 20%);
}

.form_radio__input + label::before {
  border-radius: 50%; 
  background-size: .4em;
}

.form_radio__input:checked + label::before,
.form_checkbox__input:checked + label::before {
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
  background-repeat: no-repeat;
  background-position: center;
}

.form_radio__input:checked + label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.form_checkbox__input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
  background-size: .7em;
}

/* ALERTS */
.alert {
  position: fixed;
  padding: 2.5rem 3.5rem 2.5rem 1.5rem;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(100%);
  transition: transform .3s;
}

.alert.active {
  transform: translateY(0);
}

.alert.alert--success {
  background-color: var(--clr-success-bg);
  color: var(--clr-success);
}

.alert__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--clr-close);
  z-index: 1;
  transition: color .3s;
}

.alert__close:hover,
.alert__close:focus-visible {
  color: var(--clr-close-alt);
}


/* === HEADER === */
.header {
  padding: 2rem 0;
}

.header .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__socials {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.header__socials a {
  color: var(--clr-black);
}

.header__socials a:hover,
.header__socials a:focus-visible {
  color: var(--clr-accent);
}

.header__logo {
  margin: 1.8rem 0 2.4rem;
  max-width: 170px;
}

.header__search .form__field {
  display: flex;
  position: relative;
}

.header__search input.header__search__input {
  padding-right: 4.5rem;
}

.header__search .form__submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  padding: 0 1rem;
  font-size: 1.4rem;
  transition: background-color .4s;
}

.header__search .form__submit:hover,
.header__search .form__submit:focus-visible {
  background-color: var(--clr-accent-alt);
}

/* === NAVIGATION BAR === */
.nav {
  padding: 2rem 0;
  width: 100%;
  border-top: 1px solid var(--clr-line);
  border-bottom: 1px solid var(--clr-line);
}

.nav__toggle {
  margin-left: auto;
  display: block;
  font-size: 2rem;
  transition: color .4s;
}

.nav__toggle:hover,
.nav__toggle:focus-visible {
  color: var(--clr-accent);
}

.nav__list {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.nav__list.active {
  position: static;
  height: unset;
  width: auto;
  opacity: 1;
}

.nav__list a {
  font-size: var(--fs-body-300);
  text-transform: uppercase;
  letter-spacing: .2em;
  color: var(--clr-black);
}

.nav__list a:hover,
.nav__list a:focus-visible,
.nav__list a.active {
  color: var(--clr-accent);
}

/* === LOGIN & SIGNUP === */
.authentication {
  padding: var(--section-block-space-400) 0;
}

.authentication__form {
  margin: 0 auto;
  padding: 3rem var(--side-space);
  max-width: 400px;
  background-color: var(--clr-bg-light);
}

.authentication__form__logo {
  display: block;
  margin: 0 auto 2rem;
  max-width: 70px;
}

.authentication__form .form__submit-btn {
  width: 100%;
}

.authentication__form__question {
  margin-top: 2rem;
  text-align: center;
}


/* === FOOTER & BOTTOM GALLERY === */
.bottom-gallery {
  position: relative;
  z-index: 1;
}

.footer {
  padding-top: 14rem;
  padding-bottom: var(--section-block-space-400);
  margin-top: -8rem;
  background-color: var(--clr-footer);
  color: var(--clr-white);
  text-align: center;
}

.footer__socials {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.footer__socials li {
  margin: 0 .5rem;
}

.footer__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #2e2e2e;
  font-size: 1.2rem;
  color: var(--clr-white);
  transition: background-color .4s;
}

.footer__socials a:hover,
.footer__socials a:focus-visible {
  background-color: var(--clr-white);
  color: var(--clr-accent);
}

.footer__copy {
  font-size: 1.4rem;
}

/* //ANCHOR BREAKPOINTS */

/* === BREAKPOINTS === */

/* //ANCHOR 768px */
/* 768px */

@media screen and (min-width: 768px) {
  /* === VARIABLES === */
  :root {

    /* CONTAINER */

    --side-space: 3rem;
  }

  /* === HEADER === */
  .header {
    --logo-width: 170px;

    padding: 3rem 0;
  }

  .header .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
    max-width: unset;
    flex: 0 0 var(--logo-width);
  }

  .header__socials,
  .header__search {
    flex-basis: calc((100% - var(--logo-width)) / 2);
  }

  .header__socials {
    justify-content: flex-start;
  }

  .header__search {
    display: flex;
    justify-content: flex-end;
  }

  /* === FOOTER & BOTTOM GALLERY === */
  .footer__socials li {
    margin: 0 1rem;
  }

  .footer__socials a {
    width: 5.5rem;
    height: 5.5rem;
    font-size: 1.6rem;
  }
}


/* //ANCHOR 992px */
/* 992px */

@media screen and (min-width: 992px) {
  /* === VARIABLES === */
  :root {

    /* CONTAINER */
    --side-space: 6rem;
  }

  /* === COMPONENTS === */

  /* BUTTONS */
  .btn {
    line-height: 5rem;
    padding: 0 5rem;
  }

  /* FORMS */
  .form__row {
    margin-bottom: 1.4rem;
  }

  .form input:not([type="checkbox"], [type="radio"]) {
    height: 4rem;
  }

  /* ALERTS */
  .alert {
    padding: 2.5rem 3.5rem 2.5rem 2.5rem;
    max-width: 400px;
    right: 5rem;
  }

  /* === HEADER === */
  .nav {
    padding: 3rem 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    position: static;
    height: unset;
    width: auto;
    opacity: 1;
  }

  /* === LOGIN & SIGNUP === */
  .authentication__form {
    padding: 5rem;
  }

  .authentication__form__logo {
    margin: 0 auto 3rem;
    max-width: 90px;
  }
 }


/* //ANCHOR 1200px */
/* 1200px */

@media screen and (min-width: 1200px) {
  /* === HEADER === */
  .header {
    --logo-width: 325px;

    padding: 4rem 0;
  }

  .header__search input.header__search__input {
    width: 260px;
  }

  /* === FOOTER & BOTTOM GALLERY === */
  .footer {
    padding-top: 22rem;
    margin-top: -15rem;
  }
}